<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head") %>
    </head>
    <body>
        <main id="main">
            <div class="post-form-contianer">
                <h1><%= title %></h1>

                <p>
                    Write a blog post and set its stage.
                </p>
                <form action="" method="POST">
                    <label for="title">Title:</label>
                    <br />
                    <input type="text" name="title" />
                    <br />
                    <label for="body">Body:</label>
                    <br />
                    <textarea col="300" rows="10" name="body"></textarea>
                    <button class="btn btn-primary" type="submit">
                        Submit
                    </button>
                </form>
                
                <ul>
                    <% if(errors) { %> <% for (var i = 0; i < errors.length;
                    i++) { %>
                    <li class="error"><%= errors[i].msg %></li>
                    <%}}%>
                </ul>
            </div>
        </main>
    </body>
</html>